# Part3 : Connecting to Databases using Python and SQLite3

## Exercise 6:
The goal of this Exercise is to connect to SQL Database using Python. So, this
exercise is to be solved exclusively using Anaconda /Jupyter Notebook. Do
not use DB Browser!!!! Your answers are to be sent as a Jupyter Notebook
file (.ipynb)

1. Write a Python Statement that uses the sqlite3 module to connect to the
Chinook database. It is called chinook.db

In [ ]:
import sqlite3
import pandas as pd

# Establish the connection. We won't close it here because we want to use it in subsequent cells.
connection = sqlite3.connect('chinook.db')

2. Write a python function that takes as input your SQL queries and returns
the result set as a pandas dataframe.

In [ ]:

def sql_to_dataframe(connection_string, query):
    with sqlite3.connect(connection_string) as conn:
        return pd.read_sql_query(query, conn)

3. Provide a query showing Customers (just their full names, customer ID and
country) who are not in the US.

In [ ]:
# SQL Query
query = """
SELECT CustomerId, FirstName || ' ' || LastName AS FullName, Country
FROM customers
WHERE Country != 'USA';
"""

# Use the function to execute the query and get results in a DataFrame
df = sql_to_dataframe('chinook.db', query)

# Display the result
df

4. Provide a query only showing the Customers from Brazil

In [ ]:
# SQL Query
query = """
SELECT *
FROM customers
WHERE Country = 'Brazil';
"""

# Use the function to execute the query and get results in a DataFrame
df = sql_to_dataframe('chinook.db', query)

# Display the result
df

5. Provide a query showing the Invoices of customers who are from Brazil.
The resultant table should show the customer's full name, Invoice ID, Date of
the invoice and billing country.

In [ ]:
# SQL Query
query = """
SELECT c.FirstName || ' ' || c.LastName AS FullName, 
       i.InvoiceId, 
       i.InvoiceDate, 
       i.BillingCountry
FROM customers c
JOIN invoices i ON c.CustomerId = i.CustomerId
WHERE c.Country = 'Brazil';
"""

# Use the function to execute the query and get results in a DataFrame
df = sql_to_dataframe('chinook.db', query)

# Display the result
df

6. Provide a query showing only the Employees who are Sales Agents.

In [ ]:
# SQL Query 

query = """
SELECT *
FROM employees
WHERE Title = 'Sales Agent';
"""

# Use the function to execute the query and get results in a DataFrame
df = sql_to_dataframe('chinook.db', query)

# Display the result
df
 # I'm not sure if this is a typo sir but if you're looking for `Sales Support Agent` then the oversight is on your end.

7. How many Invoices were there in 2009 and 2011? What are the respective
total sales for each of those years?

In [ ]:
# SQL Query
query = """
SELECT strftime('%Y', InvoiceDate) AS Year, 
       COUNT(InvoiceId) AS NumberOfInvoices, 
       SUM(Total) AS TotalSales
FROM invoices
WHERE strftime('%Y', InvoiceDate) IN ('2009', '2011')
GROUP BY strftime('%Y', InvoiceDate);
"""

# Use the function to execute the query and get results in a DataFrame
df = sql_to_dataframe('chinook.db', query)

# Display the result
df

8. Looking at the InvoiceLine table, provide a query that COUNTs the number
of line items for Invoice ID 37

In [ ]:
# SQL Query
query = """
SELECT InvoiceId, COUNT(*) AS NumberOfLineItems
FROM invoice_items
WHERE InvoiceId = 37;
"""

# Use the function to execute the query and get results in a DataFrame
df = sql_to_dataframe('chinook.db', query)

# Display the result
df

9. Looking at the InvoiceLine table, provide a query that COUNTs the number
of line items for each Invoice.

In [ ]:
# SQL Query
query = """
SELECT InvoiceId, COUNT(*) AS NumberOfLineItems
FROM invoice_items
GROUP BY InvoiceId
ORDER BY InvoiceId;
"""

# Use the function to execute the query and get results in a DataFrame
df = sql_to_dataframe('chinook.db', query)

# Display the result
df

10. Provide a query that includes the track name with each invoice line item.

In [ ]:
# SQL Query
query = """
SELECT ii.InvoiceLineId, ii.InvoiceId, t.Name as TrackName, ii.UnitPrice, ii.Quantity
FROM invoice_items ii
JOIN tracks t ON ii.TrackId = t.TrackId
ORDER BY ii.InvoiceLineId;
"""

# Use the function to execute the query and get results in a DataFrame
df = sql_to_dataframe('chinook.db', query)

# Display the result
df